.see_more {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #5f5f5f;
  color: #5f5f5f;
  transition: 0.3s;
  margin-left: 88%;
  &:hover {
    background-color: #fff;
    color: #000;
  }
}
.case_info {
  width: 185px;
}

.similar_cases_container {
  padding-top: 5rem;
}

.team_info {
  p {
    span {
      background-color: transparent !important;
      color: black !important;
      margin-top: 1rem;
    }
  }
}
